.example-spacer {
  flex: 1 1 auto;
}

@media(min-width: 300px) and (max-width: 700px) {
  mat-toolbar {
    background-color: #AECEE3
  }

  #menuInicio {
    display: none;
  }

  #menuPorducto {
    display: none;
  }
}

@media(min-width: 700px) {
  mat-toolbar {
    background-image: url('src/assets/fondonav.jpg');
    height: 100px;
  }

  #menuSessiones {
    display: none;
  }
}

#boton-menu {
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.18);
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);

}
#person-menu{
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.18);
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#menu-item{
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.18);
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37c0ff;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

 
  
