<meta name="viewport" content="width=device-width, initial-scale=1.0">

<marquee behavior="" direction="" class="barra-inicial">
    <!-- Texto desplazándose con imágenes -->
    <h1 class="texto-inicial">
        <img src="../../../../../assets/gatito.gif" alt="" class="gif"> OFERTA 50 % EN LA COMPRA DE 2 O MAS PRODUCTOS DE
        LA MISMA MARCA
        <img src="../../../../../assets/gatito.gif" alt="" class="gif">
    </h1>
</marquee>

<div class="container px-4"> <!-- Contenedor principal con padding horizontal -->
    <div class="row gx-5"> <!-- Fila con espacio horizontal entre columnas -->
        <div class="col"> <!-- Columna -->
            <div class="p">
                <div class="Contenedor-div"> <!-- Contenedor interior -->
                    <h1 class="Texto-principal">PETSHOP</h1> <!-- Título principal -->
                    <br>
                    <p class="texto-inicio">Esta pagina ofrece los mejores precios en productos para animales</p>
                    <!-- Texto descriptivo -->
                </div>
            </div>
        </div>
        <div class="col"> <!-- Columna -->
            <div class="p-3">
                <img src="../../../../../assets/Perritoinicio.png" alt="" class="img-1"> <!-- Imagen -->
            </div>
        </div>
    </div>
</div>

<div class="container px-4"> <!-- Contenedor principal con padding horizontal -->
    <div class="row gx-5"> <!-- Fila con espacio horizontal entre columnas -->
        <div class="col"> <!-- Columna -->
            <div class="p">
                <div class="Contenedor-div"> <!-- Contenedor interior -->
                    <img src="../../../../../assets/Perritoinicio2.png" alt="" class="img-1"> <!-- Imagen -->
                </div>
            </div>
        </div>
        <div class="col"> <!-- Columna -->
            <div class="p-3">
                <h1 class="Texto-secundario">LOS MEJORES PRECIOS</h1> <!-- Título secundario -->
                <br>
                <p class="texto-inicio">Tenemos ofertas interesantes todos los días!</p> <!-- Texto descriptivo -->
            </div>
        </div>
    </div>
</div>

<div class="fondo-contenedor"> <!-- Contenedor de fondo -->
    <div class="container px-4"> <!-- Contenedor principal con padding horizontal -->
        <div class="row gx-5"> <!-- Fila con espacio horizontal entre columnas -->
            <div class="col-12"> <!-- Columna de 12 espacios -->
                <div class="p-3">
                    <div class="contenedor-appcard">
                        <app-card></app-card> <!-- Componente de tarjeta de aplicación -->
                    </div>
                </div>
            </div>
            <div class="col"> <!-- Columna vacía -->
                <div class="p-3">
                    <!-- Espacio vacío para separar contenido -->
                </div>
            </div>
        </div>
    </div>
</div>