.example-card {
    max-width: 400px;
    background-color: #0C6EAE;
  }
  
  
  .conteiner{
    display: flex;
    padding: 10px;
    justify-content: center;
    
    
  }
  h1{
    text-align: center;

  }
.contenido{
    width: 200px;
    display: inline-block;
    padding: 5px;
    border-radius: 8px;
    margin: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: #cedce6;
}
p{
    padding: 5px;
}
#img-container{
  width: 450px;
  height: 350px;
}
#tamaño-img{
 
  height: 150px;
}
.boton-comprar{
  width: 120px;
 
    display: inline-block;
 
    border-radius: 8px;
    margin: 15px;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);

}

mat-card-header{
  justify-content: center;
  
}