<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container"> <!-- Contenedor principal -->
  <div class="row"> <!-- Fila principal -->
      <!-- Usamos ngFor para iterar sobre el array info -->
      <div class="col-lg-4" *ngFor="let i of info">
          <div class="card"> <!-- Tarjeta individual -->
              <!-- Imagen del producto -->
              <img src="{{i.imagen}}" alt="" class="card-image">
              <!-- Categoría del producto -->
              <div class="category">{{i.nombre}}</div>
              <!-- Encabezado de la tarjeta -->
              <div class="heading">
                  {{i.nombre}}
                  <!-- Información del autor -->
                  <div class="author">
                      By <span class="name">Loyola</span> 4 days ago
                  </div>
                  <!-- Botón para comprar -->
                  <button class="boton-css">Comprar</button>
              </div>
          </div>
      </div>
  </div>
</div>
