
<section>
  <div class="container">
      <div class="carousel">
          <input type="radio" name="slides" checked="checked" id="slide-1">
          <input type="radio" name="slides" id="slide-2">
          <input type="radio" name="slides" id="slide-3">
          <input type="radio" name="slides" id="slide-4">
          <input type="radio" name="slides" id="slide-5">
          <input type="radio" name="slides" id="slide-6">
          <ul class="carousel__slides">
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="{{info[0].imagen}}" alt="">
                      </div>
                      <figcaption>
                          {{info[0].nombre}}
                          <span class="credit">Photo: {{info[0].Photo}}</span>
                      </figcaption>
                  </figure>
              </li>
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="{{info[1].imagen}}" alt="">
                      </div>
                      <figcaption>
                        {{info[1].nombre}}
                          <span class="credit">Photo: {{info[1].Photo}}</span>                            
                      </figcaption>
                  </figure>
              </li>
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="{{info[2].imagen}}" alt="">
                      </div>
                      <figcaption>
                        {{info[2].nombre}}
                          <span class="credit">Photo: {{info[2].Photo}}</span>                            
                      </figcaption>
                  </figure>
              </li>
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="{{info[3].imagen}}" alt="">
                      </div>
                      <figcaption>
                        {{info[3].nombre}}
                          <span class="credit">Photo: {{info[3].Photo}}</span>                            
                      </figcaption>
                  </figure>
              </li>
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="{{info[4].imagen}}" alt="">
                      </div>
                      <figcaption>
                        {{info[4].nombre}}
                          <span class="credit">Photo: {{info[4].Photo}}</span>                            
                      </figcaption>
                  </figure>
              </li>
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="{{info[5].imagen}}" alt="">
                      </div>
                      <figcaption>
                        {{info[5].nombre}}
                          <span class="credit">Photo: {{info[5].Photo}}</span>                            
                      </figcaption>
                  </figure>
              </li>
          </ul>    
          <ul class="carousel__thumbnails">
              <li>
                  <label for="slide-1"><img src="{{info[0].imagen}}" alt=""></label>
              </li>
              <li>
                  <label for="slide-2"><img src="{{info[1].imagen}}" alt=""></label>
              </li>
              <li>
                  <label for="slide-3"><img src="{{info[2].imagen}}" alt=""></label>
              </li>
              <li>
                  <label for="slide-4"><img src="{{info[3].imagen}}" alt=""></label>
              </li>
              <li>
                  <label for="slide-5"><img src="{{info[4].imagen}}" alt=""></label>
              </li>
              <li>
                  <label for="slide-6"><img src="{{info[5].imagen}}" alt=""></label>
              </li>
          </ul>
      </div>
  </div>
</section>