.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Esto añade el gutter entre las cards */
    padding: 20px;
    justify-content: center; /* Alinea las cards horizontalmente en el centro */
    align-items: center; /* Alinea las cards verticalmente en el centro */
}

h1 {
    padding: 1rem;
}

#img-1 {
    filter: drop-shadow(1px 1px 20px white);
    width: 300px;
    height: 194px;
}

#img-carrousel {
    width: 194px; /* Sin comillas */
    height: 250px; /* Sin comillas */
}

#titulo-text {
    font-weight: bolder;
    font-size: 70px;
}

#body {
    display: flex; /* Cambiado a flex para centrar mejor el contenido */
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 / .8), rgba(0 0 0 / .8)), url(src/assets/fondo-productos.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5rem;
}

.carousel-item {
    width: 194px; /* Sin comillas */
    height: 250px; /* Sin comillas */
}
.card {
    flex: 1 1 18rem; /* Cada card ocupará 18rem de ancho, ajustable según tus necesidades */
}