.container{
    text-align: center;
    justify-content: center;
    display: flex;

}
h1{
    padding: 1rem;
}
#img-1{
    filter: drop-shadow(1px 1px 20px white);
    width: 150px;
    height: 450px;
}
#titulo-text{
font-weight: bolder;
    font-size: 70px;
}